<div style="background-color: white">
  <!-- SEARCH COURSE : START -->
  <div class="row">
    <div class="col-12 col-md-8">
      
    </div>
    <div class="col-6 col-md-4">

    </div>
  </div>
  <!-- SEARCH COURSE : END -->


  <!-- LIST COURSE : START -->
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Course ID</th>
          <th scope="col">Course name</th>
          <th scope="col">Number of credits</th>
          <th scope="col">Theory</th>
          <th scope="col">Practice</th>
          <th scope="col">Study time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- LIST COURSE : END -->

  <!-- LIST COURSE REGISTER : START -->
  <div>

  </div>
  <!-- LIST COURSE REGISTER : END -->
</div>